:root {
    --upforschool-primary: #2E49C0;
    --upforschool-light: #F2F5FF;
    font-family: Arial, Helvetica, sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 5px 0px;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
}

.text-small {
    font-size: 12px;
}


.text-medium {
    font-size: 16px;
}


.text-strong {
    font-weight: bold;
}

.text-light {
    color: #626262;
}

.text-underline {
    text-decoration: underline;
}

.color-grey {
    color: #888;
}

.color-white {
    color: white;
}


/* view */
.view-center {
    text-align: center;
}

.view-row {
    margin-top: 16px;
}

.view-row-alt {
    margin-top: 32px;
}

.view-pad {
    transition: padding .3s;
}

.view-pad-top {
    padding-top: 16px;
}

.view-pad-top-alt {
    padding-top: 32px;
}

.view-pad-16 {
    padding: 16px;
}

.view-pad-32 {
    padding: 32px;
}

.view-pad-right {
    transition: padding .3s;
}

.view-pad-left {
    transition: padding .3s;
}

.view-container {
    position: relative;
    padding: 32px 16px 32px 16px;
}

.view-container-alt {
    padding: 32px 0 32px 16px;
}

.view-image-wrapper {
    position: relative;
    width: 124px;
    height: 123px;
}


.view-image {
    position: absolute;
    left: 0;
    width: 124px;
    height: 123px;
    /* background-color: #E0E0E0; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); */
}

.view-image-label {
    font-family: "AvenirNext-DemiBold" !important;
    position: absolute;
    top: 40px;
    left: 166px;
    width: 210px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 2px solid var(--upforschool-primary);
    line-height: 38px;
    background-color: var(--upforschool-primary);
    transition: all .3s;
    font-weight: bold;
    padding: 0 8px 0 8px;
}

.view-image-label:hover {
    transform: scale(1.05);
}

.view-image-label-white {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}

.view-image-label-white:hover {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}

.view-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.view-text-input {
    cursor: pointer;
    outline: none;
    color: white;
}

.view-text-input::placeholder {
    opacity: 0.6;
    color: white;
}

.text-box {
    font-family: inherit;
    border-radius: 20px;
    background: transparent;
    /* border: 2px solid white; */
    padding: 16px 20px;
    text-align: left;
    color: white;

}

.info-box {
    font-family: "AvenirNext-DemiBold" !important;
    overflow: scroll;
}



.view-btn {
    font-family: "AvenirNext-DemiBold" !important;
    background: transparent;
    display: inline-block;
    border: 2px solid #000;
    padding: 8px 16px;
    font: inherit;
    text-align: center;
    border-radius: 25px;
    transition: ease .3s;
    cursor: pointer;
    outline: none;
    color: black
}


.view-btn-small {
    font-family: "AvenirNext-DemiBold" !important;
    background: transparent;
    display: inline-block;
    padding: 4px 40px;
    font: inherit;
    font-size: 12px;
    text-align: center;
    border-radius: 25px;
    transition: ease .3s;
    cursor: pointer;
    outline: none;
}



.view-btn-wide {
    padding: 10px 32px;
}

.view-btn-extra-wide {
    padding: 10px 64px;
}

.view-btn-compact {
    margin: 8px 8px 0 0;
    padding: 8px 24px;
}

a.view-btn {
    text-decoration: none;
}

.view-btn:hover {
    transform: scale(1.05);
}

.view-btn:active {
    /* background-color: #000; */
    color: #fff;
}

.view-btn:disabled {
    cursor: not-allowed;
    transform: scale(1);
    opacity: 0.6;
}

.view-btn-sel {
    background: linear-gradient(121.72deg, #40DB87 3.12%, #52F29B 104.52%);
    color: #fff;
    border-color: transparent;
}

.view-btn-alt {
    font-family: "AvenirNext-DemiBold" !important;
    display: inline-block;
    border: none;
    font: inherit;
    text-align: center;
    background: var(--upforschool-primary);
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: ease .3s;
}

.view-btn-alt:hover {
    transform: scale(1.05);
}

.view-btn-alt:active {
    transform: scale(1);
}

.view-btn-alt:disabled:hover {
    cursor: not-allowed;
    background: linear-gradient(111.12deg, #40DB87 3.12%, #52F29B 104.52%);
    transform: scale(1);
}

.view-btn-gray {
    background: #ddd;
    color: #888;
}

.view-btn-gray:disabled:hover {
    background: #ddd;
    color: #888;
}

.view-btn-green {
    color: #fff;
    border-color: #40DB87;
    background-color: #40DB87;
}

.view-btn-green-alt {
    border-color: #2EF0C0 !important;
    background-color: #2EF0C0 !important;
}

.view-btn-green-sel {
    color: var(--upforschool-primary) !important;
    border-color: #2EF0C0 !important;
    background-color: #2EF0C0 !important;
}



.view-btn-green:disabled {
    background-color: #b3f1cf;
    border-color: #b3f1cf;
    transform: none;
    cursor: default;
}

.view-btn-midnight-blue {
    color: #fff;
    border-color: var(--midnight-blue);
    background-color: var(--midnight-blue);
}

.view-btn-red {
    color: #fff;
    background-color: #FF4A4A;
    border-color: #FF4A4A;
}

.view-btn-red:disabled {
    background-color: #ff9d9d;
    border-color: #ff9d9d;
    transform: none;
    cursor: default;
}

.view-btn-white {
    border-color: #fff;

    color: #fff;
}

.view-btn-white:active {
    background-color: #fff;
    color: #28A964;
}

.view-btn-white-fill {
    border-color: #fff;
    background-color: #fff;
    color: var(--upforschool-primary);
}


.view-btn-white-sel {
    color: #28A964;
    background-color: #fff;
}

.view-btn-90 {
    padding: 8px;
    width: 90%;
}

.view-btn-full {
    width: 100%;
    max-width: 460px;
}

.view-btn-container {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.color-primary {
    color: var(--upforschool-primary);
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}


.nav-logo {
    background-image: url("/static/images/app/upforschool-logo.png");
}

.flex-between {
    display: flex;
    justify-content: space-between;

}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-nowrap {
    flex-wrap: nowrap;
}   

.f-right {
    float: right;
}

.gap-64 {
    gap: 64px;
}

.gap-32 {
    gap: 32px;
}

.gap-16 {
    gap: 16px;
}

.gap-8 {
    gap: 8px;
}


.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.m-4 {
    margin: 4px;
}

.m-8 {
    margin: 8px;
}

.m-16 {
    margin: 16px;
}

.italic {
    font-style: italic;
}

.opacity-50 {
    opacity: 0.5;
}


.opacity-70 {
    opacity: 0.7;
}



.nav-bar {
    height: 100px;
    z-index: 100;
    background-color: white;
    padding: 0px 32px;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.1);
}

.full-page {
    height: calc(100vh - 100px);
    overflow: auto;
}

.centered-page {
    max-width: 800px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-row:last-child:nth-child(odd) {
  margin-right: auto;
}

.flex-start {
    justify-content: flex-start;
}

.flex-columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-left {
    align-items: start;
}

.two-cols {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
}

/* Stack into one column on smaller screens */
@media (max-width: 640px) {
  .two-cols {
    grid-template-columns: 1fr;
  }
}

.background-white {
    background-color: white;
}

.blue-section {
    background-color: var(--upforschool-primary);
    color: white;
}

.light-section {
    background-color: var(--upforschool-light);
}

.pattern-section {
    background-image: url(/static/images/app/logo-pattern.png);
    background-blend-mode: color-burn;
}

.center-grid {
    display: grid;
    /* align-items: center; */
    grid-auto-flow: column;
}


.center {
    text-align: center;
    align-content: center;
}


.inside-squiggle {
    width: 300px;
    text-align: left;
    line-height: 27px;

    background-size: contain;
    background-repeat: no-repeat;
}

.section-content {
    text-align: center;
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.square-40 {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.landing-big-price {
    font-size: 0px;
    font-weight: bold;
    color: #2EF0C0;
}

.landing-subject{
    width: 180px;
    text-align: left;
    justify-content: start;
}

.landing-subject > p {
    margin: 10px 5px;
}


.inline-block {
    display: inline-block;
}


.split-page {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-content: start;
    gap: 0px;
}

.split-page-right {
    height: 100%;
    overflow: scroll;
    max-width: 600px;
}

.show-on-small {
    display: none;
}

.show-on-large {
    display: block;
}

/* Show the element only if screen width is below 600px */
@media (max-width: 800px) {
    .hide-on-small {
        display: none;
    }

    .show-on-small {
        display: block;
    }

    .show-on-large {
        display: none;
    }
}

.form-label {
    text-align: left;
    display: block;
    margin-top: 22px;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font: inherit;
    font-size: 16px;
    outline: none;
    transition: border-color .3s;
    box-sizing: border-box;
}

.form-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.container {
    position: relative;
    margin: auto;
    width: 90%;
}

.center-container {
    margin: auto;
    text-align: center;
}

.center-items {
    align-items: center;
}

.center-align {
    align-content: center;
}


.group:after {
    content: "";
    display: table;
    clear: both;
}


.group-column {
    float: left;
    width: 100%;
}

.group-item {
    float: left;
    width: 50%;
}

.group-twentyfive {
    float: left;
    width: 25%;
}

.group-column-third {
    float: left;
    width: 33.33%;
    text-align: center;
}

.group-column-third:first-child {
    text-align: left;
}

.group-column-third:last-child {
    text-align: right;
}

.form-check-hidden {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    padding: 0;
}

.form-check-hidden-label {
    font-family: "AvenirNext-DemiBold" !important;
    border: 2px solid #ddd;
    color: #5e5e5e;
    padding: 8px 0px;
    font: inherit;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    transition: background-color .3s;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
    display: block;
    width: 100%;
    text-wrap: nowrap;
}

.form-check-hidden:checked+label {
    background-color: var(--upforschool-primary);
    border: 2px solid var(--upforschool-primary);
    color: #fff;
}

.form-textarea {
    width: 100%;
    height: 240px;
    resize: none;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font: inherit;
    font-size: 16px;
    outline: none;
    transition: border-color .3s;
}

.third {
    width: 32%;
}

.half {
    width: 49%;
}

.bolder {
    font-weight: bolder;
}

/* Overlay styles */

.overlay {
    z-index: 102;
    /* hide absolute */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
}


.overlay-closer {
    z-index: 1;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: transform .3s ease;
}

.overlay-closer:hover {
    transform: scale(1.1);
}


.overlay-inner {
    /* background: #fff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    width: 400px;
}

.overlay-inner a {
    text-decoration: underline;
}

.overlay-inner-wide {
    background: #fff;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    max-height: 100vh;
}

.overlay-bubble {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -50px;
    color: #fff;
    line-height: 100px;
    font-size: 24px;
}

.overlay-bubble>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.overlay-bubble>svg {
    margin-top: 28px;
}

.overlay-enter {
    opacity: 0;
}

.overlay-leave-active {
    opacity: 0;
}


.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin .7s ease-in-out infinite;
    margin-bottom: 15px;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




.step-arrow {
    background-image: url('/static/images/app/step-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
    width: 40px;
    padding: 7px 2px;
    text-align: center;
    font-size: 14px;
    color: var(--upforschool-primary);
    font-weight: bolder;
}

.step-arrow-active {
    background-image: url('/static/images/app/step-arrow-active.png')
}


.step-arrow-white {
    background-image: url('/static/images/app/step-arrow-white.png')
}


.back-button {
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
    background-image: url('/static/images/app/back-button.png');
    width: 40px;
    padding: 7px 2px;
    top: 16px;
    left: 16px;
    cursor: pointer;
}

/* Steps animation*/

.step {
    display: none;
    /* padding: 16px; */
    /* min-height: 550px; */

}

.step.active {
    display: block;
}

.step-content {
    margin-top: 40px;
    height: 400px;
    overflow: scroll;
}




/* Forward transitions (default) */
::view-transition-old(step-right) {
    animation: slide-out-left 0.2s ease-out forwards;
}

::view-transition-new(step-right) {
    animation: slide-in-right 0.2s ease-out forwards;
}

/* Back transitions - slide the opposite direction */
::view-transition-old(step-left) {
    animation: slide-out-right 0.2s ease-out forwards;
}

::view-transition-new(step-left) {
    animation: slide-in-left 0.2s ease-out forwards;
}


.header-squiggle {
    position: relative;
    margin: auto;
    height: 70px;
    width: 378px;
    background-image: url('/static/images/app/squiggle-header.png');
    background-repeat: no-repeat;
}

.header-squiggle2 {
    color: var(--upforschool-primary);
    position: relative;
    font-weight: bolder;
    font-size: 20px;
    margin: auto;
    padding-top: 30px;
    text-decoration: underline;
    height: 100px;
    width: 380px;
    background-image: url('/static/images/app/squiggle-header-2.png');
    background-repeat: no-repeat;
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
        opacity: 100%;
    }

    to {
        transform: translateX(-100px);
        opacity: 0%;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}




.tutor-image {
    position: absolute;
    top: -50px;
    left: 30px;
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.list-image-badge {
    height: 40px;
    width: 40px;
    left: -60px;
    bottom: 12px;
}

.card-profile {
    width: 160px;
    height: 180px;
    margin-top: 30px;
    position: relative;
    padding-top: 55px;
    box-sizing: border-box;
    border: 1px solid t#eee;
    border-radius: 16px;
    margin-bottom: 16px;
    background-color: #fff;
}


.fade-container {
    overflow: scroll;

    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);

    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%);
}




/* overwrite choises */
.choices__inner {
    background-color: #fff;
    border-radius: 8px;
    min-height: 40px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.choices__inner-alt {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    min-height: 30px;
    border: 1px solid #fff;
    padding: 7.5px 7.5px 3.75px;
    font-size: 14px;
    overflow: hidden;
}

.choices__input {
    background-color: #fff;
    font-size: 16px;
    padding: 0;
}

.choices__list--multiple .choices__item {
    background-color: #000;
    border: 1px solid #000;
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #000;
    border: 1px solid #000;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    border-left: 1px solid #fff;
}

.choices {
    margin-bottom: 0;
}


.ads-container {
    background-color: rgb(199, 199, 199);
    margin: 40px 20px;
    border-radius: 25px;
}

.hidden {
    display: none;
}



/* footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 128px 16px 128px 16px;
    line-height: 24px;
}

.footer-full {
    display: none;
}

.footer-flex {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-link {
    padding-top: 8px;
}

.footer-logo {
    height: 80px;
    margin-top: 100px;
    margin-bottom: 32px;
    display: block;
}

.footer-pep {
    height: 30px;
    display: block;
}

.footer a {
    display: block;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.border-white {
    border-color: #fff;
}


.profile-picture {
    border-radius: 100px;
}

.signup-token {
    border: 1px solid #ddd;
    width: 140px;
    padding: 16px 0 16px 0;
    font-size: 36px;
    outline: none;
    text-align: center;
    transition: background-color .3s;
    margin: 0 4px 0 4px;
}

/* container */
.rounded-container {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow .3s;
    border-radius: 20px;
}

.summary-image {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}



/* cookie */

.cookie-consent {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.15);
    display: none;
    justify-items: center;
    z-index: 7;
}

.cookie-consent-content {
    display: grid;
    align-items: start;
    max-width: 1080px;
    padding: 32px 16px;
    gap: 16px;
}

@media (min-width: 1024px) {
    .cookie-consent-content {
        padding: 64px 16px;
        grid-template-columns: 1fr 2fr;
    }    
}

.cookie-consent-content-1 {
    display: grid;
    grid-template-columns: 48px 2fr;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    gap: 16px;
}

.cookie-consent-content-2 {
    display: grid;
    gap: 16px;
}


.cookie-answer {
    display: grid;
    gap: 16px;
}

@media (min-width: 680px) {
    .cookie-answer {
        display: flex;
    }    
}

.cookie-btn {
    font-family: "AvenirNext-DemiBold" !important;
    font: inherit;
    background: transparent;
    display: inline-block;
    border: 2px solid #7b7b7b;
    padding: 8px 24px;
    text-align: center;
    border-radius: 20px;
    transition: ease .3s;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #7b7b7b;
}

.cookie-btn-accept {
    color: #fff;
    padding: 8px 32px;
    background: var(--upforschool-primary);;
    border-color: var(--upforschool-primary);;
}

.cookie-btn:hover {
    transform: scale(1.05);
}



/* switch */

.switch {
    background-color:rgba(0, 0, 0, 0.2);
    color: #7b7b7b;
    border-radius: 8px;
    width: 164px;
    margin: 16px auto 0 auto;
}

.switch-alt {
    margin-bottom: 24px;
}

.switch-button {
    float: left;
    color: #fff;
    border: none;
    font: inherit;
    border-radius: 8px;
    padding: 4px 0 4px 0;
    outline: none;
    cursor: pointer;
    margin: 1px;
    width: 80px;
    text-align: center;
}

.switch-button:hover {
    color: #000;
}

.switch-active {
    color: #000;
    background-color: #fff;
}

/* list */



.list-container {
    position: relative;
    padding: 0 0 32px 0;
    overflow: hidden;
}

.list-container h1 {
    padding-left: 16px;
}

.list-item {
    background-color: #fff;
    display: block;
    position: relative;
    padding: 16px 8px 16px 112px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: box-shadow .3s;
    border-radius: 14px;
    text-align: left;
}

.list-item:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.list-text {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.list-time {
    background-image: url('/static/images/app/watch.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
}

.list-image {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 72px;
    height: 72px;
    background-color: #ddd;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.list-icon {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;

}


[x-cloak] { display: none !important; }