<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Up For Match</title>
    <link rel="icon" href="{{.Props.Static}}images/app/icon-48x48.png">
    <link rel="apple-touch-icon" href="{{.Props.Static}}images/app/apple-touch-icon.png">
    <link rel="stylesheet" href="{{.Props.Static}}style.css">
</head>

<body>
    {{template "nav-public" .}}

    <div class="page-container main">
        <div class="view-container">

            {{if eq .Data.Lang "sv"}}

                <p>Senast uppdaterad: 12 juli 2022</p>

                <h1 class="view-row">Up For Match Cookie Policy</h1>

                <h2 class="h-alt">Varför och för vem?</h2>

                <p>Up For Sports AB, organisationsnummer 559206-2003, (<strong>"Up For Sports"</strong>, <strong>"vi"</strong>, <strong>"oss"</strong>, <strong>"vår"</strong>) använder cookies och andra spårningstekniker (<strong>"Cookies"</strong>) för att förbättra din användarupplevelse.</p>
                <p class="view-row">Denna Cookie Policy (<strong>"Policyn"</strong>) beskriver Up For Sportss användning av Cookies genom att förklara vad Cookies är, hur vi använder oss av dom och hur du kan styra användningen av Cookies när du använder vår tjänst - Up For Match - och/eller vår hemsida www.upformatch.se (gemensamt kallade <strong>"Webbplatsen"</strong>). Policyn informerar inte om användningen av Cookies som är avgörande för att vi ska kunna tillhandahålla Webbplatsen och dess funktioner till dig (s.k. absolut nödvändiga cookies)</p>
                <p class="view-row">För mer information om hur vi behandlar dina personuppgifter i samband med Cookies, se vår <a class="link" href="/policy">Integritetspolicy</a>. </p>
                
                <h2 class="h-alt">Vad är Cookies?</h2>
                <p class="view-row">En Cookie är en textfil som skickas från Webbplatsen och lagras på din dator, mobiltelefon eller annan enhet som används för att besöka Webbplatsen.</p>
                <p class="view-row">Cookies hjälper oss t.ex. att känna igen den enhet du använder till nästa gång du besöker Webbplatsen, tillhandahålla vissa nödvändiga funktioner och att dokumentera användarbeteenden på Webbplatsen. </p>
                

                <h2 class="h-alt">Hur länge lagras Cookien?</h2>
                <p class="view-row">Det finns två olika typer av Cookies; Sessioncookies och permanenta cookies. </p>
                <p class="view-row"><strong>Sessioncookies</strong> raderas från din enhet när du stänger ner din webbläsare (t.ex. Internet explorer, Safari eller Google Chrome). </p>
                <p class="view-row"><strong>Permanenta cookies</strong> finns kvar på din enhet efter att du har stängt webbläsaren. Den varar så länge som det är angett i Cookien eller tills du själv tar bort den.</p>
                
                <h2 class="h-alt view-row">Up For Sports användning av Cookies</h2>

                <p class="view-row">Vi använder följande typer av Cookies:</p>

                <h3 class="h-alt view-row">Prestanda</h3>
                <p class="view-row">Cookien analyserar hur besökare använder Webbplatsen och övervakar Webbplatsens prestanda. Detta hjälper oss att identifiera och åtgärda eventuella problem. Vi kan t.ex. använda prestandacookies för att hålla reda på vilka sidor som är mest populära eller hur lång tid det tar för en sida att ladda.  </p>

                <h2 class="h-alt view-row">Förstapartscookies</h2>
                <p class="view-row">Förstapartscookies ställs in av Webbplatsen på din enhet och kan därför endast läsas utav dig eller oss.</p>

                <ol type = "1">
                    <li>
                        <strong>Namn:</strong> _ga<br>
                        <strong>Används av:</strong> Google Analytics<br>
                        <strong>Varaktighet:</strong> 2 år<br>
                    </li>
                    <li>
                        <strong>Namn:</strong> _ga_{container_id}<br>
                        <strong>Används av:</strong> Google Analytics<br>
                        <strong>Varaktighet:</strong> 2 år<br>
                    </li>
                </ol>

                <h2 class="h-alt view-row">Hantera cookies</h2>
                <p class="view-row">När du besöker Webbplatsen för första gången ber vi dig att samtycka till användningen av icke-nödvändiga cookies. Du kan när som helst dra tillbaka ditt samtycke. Om du inte längre vill lagra de Cookies du har samtyckt till kan du använda dina webbläsarinställningar för att godkänna, neka och ta bort Cookies (finns vanligtvis under "Hjälp", "Verktyg" eller "Redigera"). Notera att du kanske inte kan använda alla funktioner på Webbplatsen om du väljer att neka Cookies. </p>

                <h2 class="h-alt view-row">Ändringar i den här policyn</h2>
                <p class="view-row">Vi reserverar oss rätten att göra ändringar i denna Policy. I de fall ändringen påverkar våra skyldigheter eller dina rättigheter, kommer vi att informera om ändringarna i förväg så att du ges möjlighet att ta ställning till den uppdaterade policyn. </p>

                <h2 class="h-alt view-row">Kontakt</h2>

                <p class="view-row">Hör av dig till oss om du har frågor om Cookies:</p>
                <p><a class="link" href="mailto:hej@upformatch.se">hej@upformatch.se</a></p>

             {{else}}
                <p>Updated: 12 july 2022</p>

                <h1 class="h-alt view-row">Up For Match Cookie Policy</h1>

                <h2 class="h-alt view-row">Why and for whom?</h2>
                <p class="view-row">Up For Sports AB, organizational number 559206-2003, ("Up For Sports", "we", "us", "our") uses cookies and other tracking techniques ("Cookies") to improve your user experience.</p>
                <p class="view-row">This Cookie Policy (the "Policy") describes Up For Sports usage of Cookies by explaining what Cookies are, how we use Cookies and how you can steer the usage of Cookies when you use our service - Up For Match – and / or our website www.upformatch.se (together the "Website"). The Policy do not inform about the usage of Cookies that are necessary in order for us to present the Website and its functions to you (e.g. absolute necessary cookies).</p>
                <p class="view-row">For more information regarding how we handle your personal data in connection with Cookies, please see our Privacy Policy.</p>

                <h2 class="h-alt view-row">What are Cookies?</h2>
                <p class="view-row">A Cookie is a text file that is being sent from the Website and stored in your computer, mobile phone or any other advice that is being used to visit the Website.</p>
                <p class="view-row">Cookies help us to for example to recognize the device you are using until next time you visit the website, provide certain necessary functions and document user behaviour on the Website.</p>

                <h2 class="h-alt view-row">For how long is the Cookie stored?</h2>
                <p class="view-row">There are two types of Cookies; sessioncookies and permanent cookies.</p>
                <p class="view-row"><span class="text-strong">Sessioncookies</span> are being deleted from your device when you close down your web browser (for example Internet explorer, Safari or Google Chrome).</p>
                <p class="view-row"><span class="text-strong">Permanent cookies</span> are still left on your device after you have closed down your web browser. It stays as long as it is stated in the Cookie or until you delete it. </p>

                <h2 class="h-alt view-row">Up For Sports usage of Cookies</h2>
                <p class="view-row">We use the following types of Cookies:</p>

                <h3 class="h-alt view-row">Performance cookies</h3>
                <p class="view-row">The Cookies analyze how a visitor uses the Website and supervise the Website's performance. This helps us to identify and amend for potential problems. We can for example use performance cookies to keep track on which pages that are most popular or how long time it takes for a page to load.</p>

                <h3 class="h-alt view-row">First party cookies</h3>
                <p class="view-row">First party cookies are being set by the Website on your device and can therefore only be read by you or by us.</p>

                <ol type = "1">
                    <li>
                        <strong>Name:</strong> _ga<br>
                        <strong>Used by:</strong> Google Analytics<br>
                        <strong>Duration:</strong> 2 years<br>
                    </li>
                    <li>
                        <strong>Name:</strong> _ga_{container_id}<br>
                        <strong>Used by av:</strong> Google Analytics<br>
                        <strong>Duration:</strong> 2 years<br>
                    </li>
                </ol>

                <h3 class="h-alt view-row">Manage cookies</h3>
                <p class="view-row">When you visit the Website for the first time, we ask you to agree to the usage of non-necessary cookies. You can at anytime withdraw your consent. If you no longer want to store the Cookies you have agreed to, you can change your web-browser settings to approve, deny or delete Cookies (can usually be found at “Help”, “Tools” or “Edit”). Note that you may not be able to use all functions on the Website if you decline the usage of Cookies.</p>

                <h3 class="h-alt view-row">Changes to this policy</h3>
                <p class="view-row">We reserve us the right to make changes to this Policy. In cases where the change affects our obligations or your rights, we will inform you about the changes on beforehand in order for you to have the possibility to act on the updated policy.</p>

                <h3 class="h-alt view-row">Contact details</h3>
                <p class="view-row">Reach out to us if you have any questions regarding Cookies:</p>
                <p>Email address: hej@upformatch.se</p>

             {{end}}
        </div>
    </div>
    {{template "footer-public" .}}
</body>

</html>