<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" . }}

</head>

<body>
    {{template "nav" .Name}}

    <main>

        <div class="view-container">

            <h1>Om mig</h1>

            {{.Data.Tutor}}
        </div>


        <div class="container">
            <div class="center" style="padding: 40px 0px;">
                <h1 class="color-primary">Mina skickade förfrågningar</h1>
            </div>

        </div>

        <div class="blue-section center" style="padding: 30px 20px">
            <div class="section-content">
                <h1>Hitta studiecoach</h1>
                <h3 class="view-row">Det är superenkelt och tar bara några minuter!</h3>
            </div>
            <img src="/static/images/app/squiggle-arrow.png" style="left: -200px; margin-right: 400px;">

            <a href="/lessons/new" style="margin-top: 20px;">
                <p class="header-squiggle2">Klicka här för att sätta igång!</p>
            </a>
        </div>


    </main>

    {{ template "footer" . }}

</body>