<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" . }}
    <script defer src="/static/vendor/htmx/1.8.5/htmx.min.js"></script>
    <script defer src="/static/vendor/alpinejs/3.10.3/alpine.min.js"></script>
</head>

<body>
    {{template "nav" .Name}}

    <main>

        <div class="show-on-small">
            <div class="blue-section pattern-section center-align" style="padding: 20px 0px">

                <div class="view-image-wrapper view-row center-container">
                    <img class="view-image profile-picture" src="{{.Props.Static}}/images/tutors/{{.Data.Tutor.Image}}"
                        alt="din bild" />
                </div>
                <div class="view-row">
                    <div class="center-container">
                        <h1>{{.Data.Profile.User.FirstName }} {{.Data.Profile.User.LastName}}</h1>
                        <p>{{if eq .Data.ActiveRole "TUTOR"}}Studiecoach{{else}}Elev{{end}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="split-page">

            <div>
                {{if eq .Data.ActiveRole "TUTOR"}}
                <div class="view-container">

                    <h1>Om mig</h1>

                    <p class="view-row">
                        {{.Data.Tutor.Bio}}
                    </p>
                </div>
                {{end}}

    
                <div class="light-section " style="padding: 30px 20px">
                    {{if eq .Data.ActiveRole "TUTOR"}}
                        <h1>Mina mottagna förfrågningar</h1>
                    {{else}}
                        <h1>Mina skickade förfrågningar</h1>
                    {{end}}

                    <div
                        id="lessons-container"
                        hx-get="/lessons/list?status={{if .Data.ShowAllLessons}}all{{else}}active{{end}}"
                        hx-trigger="load"
                        hx-swap="innerHTML">
                    </div>
                </div>
                

                <div class="view-container center">
                    <div class="view-row flex-columns flex gap-8">
                        <a style="width: 180px;" href="/profile/edit" class="view-btn">Personliga uppgifter</a>
                        <a style="width: 180px;" href="/faq" class="view-btn">FAQ</a>
                        <a style="width: 180px;" href="/terms" class="view-btn">Allmänna villkor</a>
                        <a style="width: 180px;" href="/policy" class="view-btn">Integritetspolicy</a>
                        <a style="width: 180px;" href="/contact" class="view-btn">Kontakta oss</a>
                        <a style="width: 180px;" class="view-btn" href="/auth/logout">Logga ut</a>
                    </div>

                    {{if .Data.Profile.IsTutor}}
                    <div class="view-row flex-columns flex gap-8">
                        <h3>Byt Profil</h3>
                        <a href="/role/switch?role=TUTOR" style="width: 180px;" class="view-btn {{if eq .Data.ActiveRole "TUTOR"}}view-btn-alt{{end}}">Studiecoach</a>
                        <a href="/role/switch?role=STUDENT" style="width: 180px;" class="view-btn {{if eq .Data.ActiveRole "STUDENT"}}view-btn-alt{{end}}">Elev</a></div>
                    {{end}}
                </div>
            </div>

            <div class="blue-section pattern-section center-align show-on-large">
                {{if eq .Data.ActiveRole "TUTOR"}}
                <div class="view-image-wrapper view-row center-container">
                    <img class="view-image profile-picture" src="{{.Props.Static}}/images/tutors/{{.Data.Tutor.Image}}"
                        alt="profil bild" />
                    </div>
                {{else}}
                    <div class="view-row center-container">
                        <img src="{{.Props.Static}}/images/app/student-icon.png"
                            alt="profil bild" />
                    </div>
                {{end}}

                <div class="view-row">
                    <div class="center-container ">

                        {{if eq .Data.ActiveRole "TUTOR"}}
                            <h1>{{.Data.Profile.User.FirstName }} {{.Data.Profile.User.LastName}}</h1>
                        {{else}}
                            <h3>{{.Data.Profile.User.Email }}</h3>
                        {{end}}
                        <p class="view-row text-medium">{{if eq .Data.ActiveRole "TUTOR"}}Studiecoach{{else}}Elev{{end}}</p>
                    </div>
                </div>
            </div>
        </div>


    </main>

    {{ template "footer" . }}

</body>