<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Up For School - {{.Data.Title}}</title>
    <link rel="icon" href="{{.Props.Static}}images/app/icon-48x48.png">
    <link rel="apple-touch-icon" href="{{.Props.Static}}/images/app/apple-touch-icon.png">
    <link rel="stylesheet" href="{{.Props.Static}}/style.css">

    <link rel="stylesheet" href="{{.Props.Static}}/vendor/choices/choices.min.css" />
    <script src="{{.Props.Static}}/vendor/choices/choices.min.js"></script>
</head>

<body>
    {{template "nav-public" .}}

    <div class="split-page ">
        <div class="hide-on-small blue-section pattern-section center"
            style="height: calc(100vh - 100px); position: sticky; top: 100px;">
            <h1>Studiecoach</h1>
        </div>

        {{template "signup-bankid" .}}

        <div id="signup-form" class="split-page-right" style="display: none;">
            <div class="container">
                <h1 class=" view-row color-primary">Skapa ett konto!</h1>
                <form action="/signup" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="token" name="bid-token">
                    <input type="hidden" id="ssn" name="ssn">

                    <label class="form-label bolder">Förnamn</label>
                    <input id="first-name" name="first-name" class="form-input" required>

                    <label class="form-label bolder">Efternamn</label>
                    <input id="last-name" name="last-name" class="form-input" required>

                    <label class="form-label bolder">Mobilnummer</label>
                    <input id="phone" name="phone" type="tel" class="form-input" required>

                    <label class="form-label bolder">Email</label>
                    <input id="email" name="email" type="email" class="form-input" required>

                    <label class="form-label bolder">Bekräfta Email</label>
                    <input id="confirm-email" name="confirm-email" type="email" class="form-input" required>

                    <label class="form-label bolder">Var är du verksam?</label>
                    <select required name="location" id="select-locations" class="form-select form-input"
                        name="locations">
                        {{ range .Data.Locations }}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{ end }}
                        required
                    </select>


                    <div class="view-row-alt form-label">
                        <label class="flex flex-start center-items">
                            <input name="online-lessons" type="checkbox" class="form-checkbox">
                            Jag kan öven ge lektioner online
                        </label>
                    </div>

                    <div class="view-row-alt">
                        <label class="view-row bolder">Ämnen jag ger lektioner i</label>

                        <div class="view-row flex-between flex-row">
                            {{ range .Data.Subjects }}
                            <div class="third">
                                <input type="checkbox" id="subject-{{ .ID }}" name="subject" value="{{ .ID }}"
                                    class="form-check-hidden">
                                <label class="form-check-hidden-label view-btn-full" for="subject-{{ .ID }}">{{
                                    .Name}}</label>
                            </div>
                            {{ end }}
                        </div>
                    </div>

                    <div class="view-row">
                        <label class="bolder">Nivå / Nivåer lämplig för mina lektioner</label>
                        <div class="view-row flex-between flex-row">
                            {{ range .Data.Levels }}
                            <div class="half">
                                <input type="checkbox" id="level-{{ .ID }}" name="level" value="{{ .ID }}"
                                    class="form-check-hidden">
                                <label class="form-check-hidden-label view-btn-full" for="level-{{ .ID }}">{{
                                    .Name}}</label>
                            </div>
                            {{ end }}
                        </div>
                    </div>

                    <div class="view-row">
                        <label class="view-row bolder"> Beskriv dig själv</label>
                        <textarea name="description" class="form-textarea view-row" style="height: 100px"
                            type="text-area" placeholder="Tex ålder, var du bor, var du har gått i skolan och 
vilken utbildning du går eller har gått. Skriv gärna
eventuella meriter i form av betyg eller tidigare 
erfarenhet som studiecoach." required></textarea>
                    </div>

                    <div class="view-image-wrapper view-row">
                        <img id="image-preview" class="view-image"
                            src="{{.Props.Static}}/images/app/profile-placeholder.png" alt="din bild" />
                        <label for="image" class="view-image-label">Ladda upp en bild</label>
                        <input id="image" name="image" class="view-file" type="file"
                            accept="image/png, image/jpeg, image/gif" required>
                    </div>

                    <div class="view-row-alt">
                        <div class="view-row-alt form-label">
                            <label class="flex flex-start center-items">
                                <input name="sms-opt-in" type="checkbox" class="form-checkbox">
                                Jag få information om bokningar via SMS
                            </label>
                        </div>

                        <div class="view-row-alt form-label">
                            <label class="flex flex-start center-items">
                                <input name="terms" type="checkbox" class="form-checkbox" required>
                                Godkänn allmänna villkor
                            </label>
                        </div>
                    </div>

                    <div class="flex">
                        <button class="view-btn view-btn-alt view-btn-extra-wide view-row-alt" type="submit">
                            Nästa
                        </button>
                    </div>


                    <div class="view-row-alt"></div>
                </form>
            </div>
        </div>
    </div>


    <script>
        let image = document.getElementById("image");
        let imagePreview = document.getElementById("image-preview");

        image.addEventListener("change", function (event) {
            var form = event.target;
            if (!form.files || !form.files[0]) return

            var reader = new FileReader();
            reader.onload = (e) => imagePreview.src = e.target.result;
            reader.readAsDataURL(form.files[0]);
        }, false);


    </script>

    {{template "cookie-consent" .}}
</body>

</html>