{{ if not .Data.Tutors }}
<p>Inga studiecoacher för dina val hittades</p>
{{ end }}

<div id="tutor-details"></div>

<div class="view-container flex step-content fade-container">
  {{ range .Data.Tutors }}
  <div class="m-8">
    <div class="card-profile">
      <img class="tutor-image" class="list-image" src="{{$.Props.Static}}/images/tutors/{{.Image}}" />

      <div class="m-8">
        <p class="text-medium color-black text-strong"><strong>{{.Alias}}</strong></p>
        <p class="text-light text-small">0 bokade pass</p>
      </div>
      <button onclick="toggleTutor(event, {{.ID}})" style="color: grey; border-color: grey" class="m-4 text-light view-btn view-btn-small {{if .Selected}}view-btn-green-sel{{end}}" {{if .Selected}}disabled{{end}}>{{if .Selected}}Vald{{else}}Välj{{end}}</button>
      <p class="m-4 text-light text-medium text-underline" hx-get="/tutor/summary?tutor_id={{.ID}}" hx-target="#tutor-details" hx-swap="innerHTML" hx-trigger="click">läs mer</p>
    </div>
  </div>
  {{ end }}
</div>
