{{ if not .Data.Tutors }}
<p>Inga studiecoacher för dina val hittades</p>
{{ end }}

<div class="view-container flex">
    {{ range .Data.Tutors }}
    <div class="m-8">
        <div class="card-profile">
            <img class="list-image" class="list-image" src="{{$.Props.Static}}/images/tutors/{{.Image}}" />

            <div class="m-8">
                <p class="text-medium color-black text-strong"><strong>{{.FirstName}}</strong></p>
                <p class="text-light text-small">0 bokade pass</p>
            </div>
            <button onclick="toggleTutor(event, {{.ID}})" style="color: grey; border-color: grey;"
                class="m-4 text-light view-btn view-btn-small">Välj</button>
            <p class="m-4 text-light text-medium text-underline">läs mer</p>
        </div>
    </div>
    {{ end }}
</div>